.yellow {
  background-color: #f8d237;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tag {
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
