/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 15em;
  padding-bottom: 15em;
}


h1 {
  font-family: "swiss", sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 30px;
}

h2 {
  font-family:  'Crimson Text', serif;
  font-size: 20px;
  font-weight: bold;
}

p {
  font-family:  'Crimson Text', serif;
  font-size: 14px;
  font-style: italic;
}

a {
  h3 {
    color: black;
    font-family:  'Crimson Text', serif;
    font-size: 55px;
    font-weight: bold;
    line-height:30px;
  }

  h4 {
    color: black;
    font-family: "swiss", sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
  }
}

.margined {
  margin: 20px;
}

.bottommargin {
  margin-bottom: 100px;
}
