<div class="scroll"><marquee>Venus, have you found your internship?</marquee></div>
<div class="Site-content">
  <div class="row space">
    <div class="col-xs-6 nopadding">
      <% link_to 'welcome.html' do %>
      <div class="col-xs-offset-10 black">
        >>>
      </div>
      <% end %>
    </div>
    <div class="col-xs-6 nopadding">
      <div class="banner" style="background-image: url('<%= image_path 'intro_1.png'%>');">
        <div class="banner-content">
         <h2>2017 Summer</h2>
         <h1>K2 DIGITAL</h1>
         <h3>Internship journey</h3>
         <h2>Student name: </br>
          Cheung Wing Lam Venus </br>
          Student no.: </br>
          16029967D </br>
          Dates of internship: </br>
          3rd July - 25th Aug 2017 </br>
          Internship company/organisation: </br>
          K2 digital </br>
          Workplace Supervisor & contact no.: </br>
          Teresa Dermawan (+852 9505 8290)</h2>
        </div>
      </div>

    </div>
  </div>
</div>

<%= partial "footer" %>
